spring:
  application:
    name: profile-management-service
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://mongodb_profile:27017/profile_db}
  security:
    user:
      name: ignored
      password: ignored

server:
  port: ${SERVER_PORT:8081}
  servlet:
    context-path: /

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.bookfair.profile_management_service: DEBUG
    org.springframework.web: INFO

